.navbar{
  margin-left: 30px;
  background-color: white;
}

header{
  background-color: white;
}
#logo{
  margin-right: 30px;
}

#nav-button{
  color: black;
  text-decoration: none;
}

#nav-button:hover, .nav-link:hover{
  text-decoration: none;
  color: rgba(57, 181, 74, 1) !important;
}
