


.navbar {
  margin-left: 30px;
  background-color: white;
}

header {
  background-color: white;
}

.btn-success{
  background-color: #39b54a !important;
  color: white !important;
}

.bg-light{
  background-color: rgba(184, 186, 190, 0.151) !important;
}

#logo {
  margin-right: 30px;
}

#nav-button {
  color: black;
  text-decoration: none;
  background-color: rgba(57, 181, 74, 1) !important;
}

#nav-button:hover{
  
    text-decoration: none;
    background-color: rgba(57, 181, 74, 1) !important;
  
}
.nav-link:hover {
  text-decoration: none;
  color: rgba(57, 181, 74, 1) !important;
}

  /* Navigation Formatting not active */
  .nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color: black;
  }

  /* Navigation Formatting active */
  .nav-pills .pill-1 .nav-link {
    background-color: rgba(57, 181, 74, 1);
    color: white;
  }

  .body {
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
  }

  .card {
    background: rgb(199, 199, 201);
    border: 1px solid #938f96;
    color: rgb(63, 62, 62);
    margin-bottom: 2rem;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
    .card-img-top {
      width: 100%;
      height: 15vw;
      object-fit: cover;
    }