body{
  font-family: 'Montserrat', sans-serif !important;
}

.navbar {
  margin-left: 30px;
  background-color: white;
}

header {
  background-color: white;
}

.btn-success{
  background-color: #39b54a !important;
  color: white !important;
}

#logo {
  margin-right: 30px;
}

#nav-button {
  color: black;
  text-decoration: none;
  background-color: rgba(57, 181, 74, 1) !important;
  border-radius: 0px !important;
}

#nav-button:hover{
    text-decoration: none;
    background-color: rgba(57, 181, 74, 1) !important;
}

.nav-link:hover {
  text-decoration: none;
  color: rgba(57, 181, 74, 1) !important;
}

  /* Navigation Formatting not active */
  .nav-pills .pill-1 .nav-link:not(.active) {
    background-color: white;
    color: black;
  }

  /* Navigation Formatting active */
  .nav-pills .pill-1 .nav-link {
    background-color: rgba(57, 181, 74, 1);
    border-radius: 0px !important;
    color: white;
  }
